.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
.tab-button{
	margin-bottom:1px;
	position: relative;
	z-index: 1;
	color:#333;
	border-color:#ccc;
	outline: none;
	background-color:white;
}
.tab-pane .chroma{
	background:none;
	padding:0;
}
.tab-button.active{
	border-bottom-color:#f3f4f4;
	background-color: #f4f4f4;
}
.tab-content .tab-pane{
	display: none;
}
.tab-content .tab-pane.active{
	display: block;
}
/* Treatment of copy buttons inside a tab module */ 
.tab-content .copy, .tab-content .copied{
	display: none;
}
.tab-content .tab-pane.active + .copy, .tab-content .tab-pane.active + .copied{
	display: block;
}